                /**Navbar**/
                
                .navbar {
                    margin-top: 27px;
                    display: flex;
                    position: sticky;
                    top: 0;
                }
                
                .navbar .navbar-brand {
                    background: #4B1979;
                    width: 100px;
                    height: 34px;
                    left: 136px;
                    top: 27px;
                    margin-right: 24px;
                }
                
                .form-inline .form-control {
                    background: #EEEEEE;
                    border-radius: 16px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 12px 24px;
                    gap: 16px;
                    margin-right: 300px;
                    width: 444px;
                    height: 48px;
                    left: 260px;
                    top: 18px;
                }
                
                .search .btn {
                    background: #7126B5;
                    border-radius: 12px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
                
                .main .box {
                    position: absolute;
                    width: 236px;
                    height: 224px;
                    left: -16px;
                    top: 148px;
                    background: #B6D4A8;
                    border-radius: 20px;
                }
                
                .main .box1 {
                    position: absolute;
                    width: 236px;
                    height: 224px;
                    left: 1220px;
                    top: 148px;
                    margin-left: 80px;
                    margin-top: 5px;
                }
                /**Banner**/
                
                body,
                html {
                    height: 100%;
                }
                
                .hero-image {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/ramadanbanner.png");
                    height: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }
                
                .hero-text {
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
                /*Productlist*/
                
                .btn-color-theme {
                    background-color: #E2D4F0;
                    border-radius: 12px;
                    padding: 12px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    border: none;
                }
                
                .btn:hover {
                    background-color: #7126B5;
                }
                
                .card {
                    width: 18rem;
                    left: 3%;
                    top: 5%;
                    border-radius: 4px;
                    padding: 8px, 8px, 16px, 8px;
                    background-color: #FFFFFF;
                }
                
                .card-title {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                
                .card-text {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #8A8A8A;
                }
                
                .card-price {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                }