/**Navbar**/

@media screen and (min-width: 360px) and (max-width: 576px) {
}

.d-grid {
  display: grid;
}

.navbar {
  margin-top: 0%;
  display: flex;
  position: sticky;
  top: 0;
}

.navbar .navbar-brand {
  background: #4b1979;
  width: 100px;
  height: 34px;
  left: 136px;
  top: 27px;
  margin-right: 24px;
}

.form-inline .form-control {
  background: #eeeeee;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  margin-right: 300px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
}

.search .btn {
  background: #7126b5;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.main .box {
  position: absolute;
  width: 236px;
  height: 224px;
  left: -16px;
  top: 148px;
  background: #b6d4a8;
  border-radius: 20px;
}

.main .box1 {
  position: absolute;
  width: 236px;
  height: 224px;
  left: 1220px;
  top: 148px;
  margin-left: 80px;
  margin-top: 5px;
}
/**Banner**/

body,
html {
  height: 100%;
}

.section-5 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(237, 180, 245, 0.5)
    ),
    url("img/ramadanbanner.png");
  margin-top: 2%;
  margin-bottom: 2%;
  color: black;
  height: 90%;
  width: 70%;
  padding-bottom: 15%;
  padding-top: 3%;
  border-radius: 20px;
}

.gift {
  position: absolute;
  margin-bottom: 90%;
  margin-left: 20%;
}
/*Productlist*/

.btn-color-theme {
  background-color: #e2d4f0 !important;
  border-radius: 12px !important;
  padding: 12px 16px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  border: none !important;
}

.btn-color-theme:hover {
  background-color: #7126b5 !important;
}

.btn-color-theme:focus {
  background-color: #7126b5 !important;
}

.products {
  display: grid;
  margin-top: 2em;
  gap: 1em;
  grid-template-columns: repeat(6, 1fr);
}

.no-products {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.products > .card {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  max-height: 256px;
  padding: 8px 8px 16px;
  transition: transform 0.2s;
}

.products > .card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 9;
}

.products > .card .card-title {
  font-size: 0.875rem;
  font-weight: 400;
}

.products > .card .card-text {
  font-size: 0.625rem;
  font-weight: 400;
  color: #8a8a8a;
}

.products > .card .card-price {
  font-size: 0.875rem;
  font-weight: 400;
}
/* .card {
  width: 18rem;
  left: 3%;
  margin-top: 3%;
  bottom: 2%;
  padding: 8px, 8px, 16px, 8px;
  background-color: #ffffff;
} */

/* .card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
} */
/* 
.card-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #8a8a8a;
} */

/* .card-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
} */

.category > h3 {
  font-size: 1rem;
  font-weight: 700;
}

.category > .category__list {
  display: flex;
  gap: 1em;
}

.category > .category__list > .btn-color-theme {
  font-size: 0.875rem !important;
  color: #3c3c3c;
}

.category > .category__list > .btn-color-theme:hover {
  background-color: #7126b5;
  color: #ffffff;
}

.category > .category__list > .btn-color-theme:focus {
  background-color: #7126b5;
  color: #ffffff;
  outline: none;
}

/*button jual*/

.button-jual {
  background-color: white !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px !important;
  font-size: 0.875rem !important;
  padding: 16px 24px !important;
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.button-jual:hover {
  background-color: #7126b5 !important;
  color: #ffffff !important;
}

.carousel-indicators {
  gap: 0.2em;
}

.carousel-indicators > * {
  width: 6px !important;
  height: 6px !important;
  background-color: #c4c4c4 !important;
  border: 1px solid #7126b5 !important;
  border-radius: 50%;
}

.carousel-indicators > *.active {
  background-color: #7126b5 !important;
}

.modal {
  font-size: 0.875rem;
}

.modal-sm {
  max-width: 360px;
}

.modal-content {
  border-radius: 1em !important;
}

.modal-sm .modal-header {
  padding-bottom: 0;
}

.modal-sm .modal-body {
  padding-top: 0.5em;
}

.modal-sm .modal-body .card {
  background-color: #eee;
  border: none;
  border-radius: 1rem;
}

.modal-sm .modal-body .card h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

.modal-sm .modal-body .card .card-title {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

.modal-sm .modal-body .card .card-text {
  font-size: 0.625em;
  color: #8a8a8a;
  font-weight: 400;
  margin: 0;
}

.modal-sm .modal-body .card-text {
  font-size: 0.875rem;
  color: #8a8a8a;
  margin-bottom: 0.5em;
}

.modal .modal-header {
  border: none;
  flex-direction: column-reverse;
}

.modal .modal-title {
  font-size: 0.875rem;
}

.modal .modal-footer {
  border: none;
  display: grid;
  justify-content: stretch;
}

.card.category {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.profile {
  background-color: #eee;
  border-radius: 16px;
  padding: 1em;
}

.btn-link > * {
  color: black;
}

.btn-primary {
  background-color: #7126b5 !important;
  border-radius: 1em !important;
  border-color: #7126b5 !important;
  font-size: 0.875rem !important;
}

.btn-danger {
  border-radius: 1em !important;
  font-size: 0.875rem !important;
}

.btn-primary:hover {
  background-color: #7126b5;
}

.btn-outline-primary {
  background-color: #fff !important;
  border-radius: 1em !important;
  border-color: #7126b5 !important;
  color: #7126b5 !important;
  font-size: 0.875rem !important;
}

.btn-outline-primary:hover {
  background-color: #7126b5 !important;
  color: white !important;
}

.product-self {
  background-color: #eee !important;
}

.alert-success {
  align-items: center;
  background-color: #73ca5c !important;
  border-radius: 12px !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 1em 1.5em !important;
}

.alert-danger {
  align-items: center;
  /* background-color: #73ca5c !important; */
  border-radius: 12px !important;
  /* color: white !important; */
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 1em 1.5em !important;
}

span.card-text {
  font-size: 0.625rem;
  color: #8a8a8a;
}

.alert-success > * {
  margin: 0;
}

.alert-danger > * {
  margin: 0;
}

.dropdown-menu[aria-labelledby="notification"] {
  width: 376px !important;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-menu[aria-labelledby="notification"]::-webkit-scrollbar {
  width: 1em;
}

.dropdown-menu[aria-labelledby="notification"]::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-menu[aria-labelledby="notification"]::-webkit-scrollbar-thumb {
  background: #888;
}

.dropdown-menu[aria-labelledby="notification"] .title {
  color: #8a8a8a;
  font-size: 10px;
}
