/* .image-registration {
    background-image: url('../images/register.png') !important;
    position: absolute;
    width: 100%;
    height: 100%;
} */

.form {
  font-family: "Poppins";
  margin-top: 200px;
  margin-left: 104px;
}

.form__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  width: 452px;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.Nama {
  margin-top: 16px;
}

.email {
  margin-top: 16px;
}

.password {
  margin-top: 16px;
}

.btn-register {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  margin-top: 24px;
  width: 452px;
  height: 48px;
  /* Primary/Purple/04 */
  background: #7126b5;
  border-radius: 16px;
  text-align: center;
  /* Neutral/01 */
  color: #ffffff;
}

.login-direct {
  margin-top: 40px;
  margin-left: 80px;
}

.navbar-expand-lg {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  width: 100px;
  height: 34px;
  /* Primary/Purple/05 */
  background-color: #4b1979;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  margin-right: auto;
}

.cari-produk {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #eeeeee !important;
  border-radius: 16px !important;
  border: none !important  ;
}

.nav-item-login {
  align-items: center;
  background-color: #7126b5;
  border-radius: 12px;
  color: #ffffff;
  display: flex;
  gap: 8px;
  padding: 14px 16px;
}

.nav-item-login > * {
  color: inherit;
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
}

.nav-item-login > a:hover {
  color: inherit;
  text-decoration: none;
}

.nav-item-list {
  background-image: url("../assets/img/fi_list.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.nav-item-notification {
  background-image: url("../assets/img/fi_bell.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.nav-item-user {
  background-image: url("../assets/img/fi_user.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.carousel-item {
  min-height: 436px;
  background-color: whitesmoke;
  border-radius: 1em;
  overflow: hidden;
  display: flex !important;
}

.carousel-item.active {
  align-items: center;
}

.modal .card.product {
  background-color: #eeeeee;
  border: none;
}

.modal .card.product .card-body {
  display: flex;
  gap: 1em;
}

.modal .card.product .card-body > img {
  max-width: 48px;
  max-height: 48px;
  object-fit: fill;
  border-radius: 12px;
}

.card.product {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
}

.card.product .card-title {
  font-weight: 500;
}

.card.product .card-text {
  font-weight: 400;
}

.card.product .card-text,
.card.product .card-title {
  font-size: 0.875rem;
}

.card.product .card-price {
  font-size: 1rem;
  font-weight: 500;
}

.card.seller {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  margin-top: 1em;
}

.card.seller .card-body {
  display: flex;
  gap: 0.5em;
}

.card.seller img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}
/* .card-body {
    margin-left: 32px;
    width: 336px;
    height: 266px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
} */

.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
} */

.btn-terbitakan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  gap: 4px;
  position: absolute;
  width: 304px;
  height: 48px;
  margin-top: 16px;
  /* Primary/Purple/04 */
  background: #7126b5;
  border-radius: 16px;
  border-color: #7126b5;
}

.btn-edit {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  gap: 4px;
  position: absolute;
  width: 304px;
  height: 48px;
  margin-top: 78px;
  /* Neutral/01 */
  background: #ffffff;
  color: #000000;
  /* Primary/Purple/04 */
  border: 1px solid #7126b5;
  border-radius: 16px;
}

.card-seller {
  position: absolute;
  width: 336px;
  height: 80px;
  margin-left: 32px;
}

.card-body-seller {
  position: absolute;
  width: 336px;
  height: 80px;
  margin-left: 32px;
  margin-top: 24px;
  /* Neutral/01 */
  background: #ffffff;
  background-repeat: no-repeat !important;
  background-position: left !important;
  /* Shadow/Low */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.seller-image {
  width: 48px;
  height: 48px;
  margin-left: 16px;
  margin-top: 16px;
  margin-right: auto;
  flex: none;
}

.card.description {
  min-height: 339px;
  /* Neutral/01 */
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

/*------------infoproduk-----------*/
