.navbar {
    margin-top: 27px;
}

.navbar .navbar-brand {
    background: #4B1979;

width: 100px;
height: 34px;
left: 136px;
top: 27px;
margin-right: 24px;
}

.form-inline .form-control {
    background: #EEEEEE;
    border-radius: 16px;
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 16px;
margin-right: 300px;
width: 444px;
height: 48px;
left: 260px;
top: 18px;
}


.search .btn {
    background: #7126B5;
border-radius: 12px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
}


.main .box {
    position: absolute;
width: 236px;
height: 224px;
left: -16px;
top: 148px;

background: #B6D4A8;
border-radius: 20px;
}

.main .box1 {
    position: absolute;
width: 236px;
height: 224px;
left: 1220px;
top: 148px;
margin-left: 80px;
margin-top: 5px;
