#banner {
    background: url(img/ramadanbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#gift {
    position: absolute;
    width: 12%;
    height: 30%;
    left: 50%;
    top: 30%;
}